In [3]:
# cam perform calculations
4+12*8

100

In [5]:
#variables 
a=10 # creating a variable and assigning value to be stored in the memory
b=11

In [4]:
print(a) # print() used to print values
print(type(a)) #prints the data type of the value stored in variable a
print(id(a)) #symbolic representation of the value

10
<class 'int'>
140703722554440

In [6]:
print(b) # print() used to print values
print(type(b)) #prints the data type of the value stored in variable a
print(id(b)) #symbolic representation of the value

11
<class 'int'>
140703722554472

In [7]:
#Rules to create a variables 
# it must start with alphabet or underscore(_) For Eg: abc=123 or _abc=234
# its cant be started with number For Eg:23abc=240
# variable cant contain special characters in naming ForEg:_1% (throws error)
#variables are case sensitive
a=10
A=23
print(a)

10

In [8]:
# cant allow use reserved keywords
is=90 
print(is) #throws error

SyntaxError: invalid syntax (219809279.py, line 2)

In [ ]:
#types of datatypes
#atomic datatype
    #int
    #float
    #string
    #boolean
    #None
    #complex 
#derived datatypes
   #list
   #tuple
   #dictionary
   #set

In [10]:
a=12
type(a)

int

In [11]:
b=12.6
type(b)

float

In [12]:
c='cat'
type(c)

str

In [14]:
d=True
type(d)

bool

In [15]:
e=False
type(e)

bool

In [16]:
f=None
type(f)

NoneType

In [17]:
s=4+3j # 4 is real number and 3j is imaginary number, sqrt of -1 is j
type(s)

complex

In [18]:
s.real

4.0

In [20]:
s.imag

3.0

In [21]:
s.conjugate()

(4-3j)

In [24]:
# arithmetic operators
a=10
b=2

print("Addition",a+b)
print("Subtraction",a-b)
print("Multiplication",a*b)
print("Modulus",a%b)
print("Division",a/b) 
print("Floor division",a//b)
print("power",a**b)

Addition 12
Subtraction 8
Multiplication 20
Modulus 0
Division 5.0
Floor division 5
power 100

In [26]:
# comparision operators
a=12
b=4

print("a less than b",a<b)
print("a greater than b",a>b)
print("a Not equal to b",a!=b)

a less than b False
a greater than b True
a Not equal to b True

In [27]:
#logical operators
a=10
b=2

c=9
d=4
print("AND operator",a>b and c<d) # both condition should be true
print("OR operator",a>b or c<d) # any one condition should be true

AND operator False
OR operator True

In [30]:
#identify operator 
a=10
b=10.0
print(a is b) # id the identifier id is same and class is same it returns true else false
print(a is not b)

False
True

In [32]:
info="Python is a programming language"
print("Python" in info)
print("Python" not in info)

True
False

In [ ]:
#operator precedence 
#BODMAS B – Brackets, O – Order of powers or roots, D – Division, M – Multiplication A – Addition, and S – Subtraction
#PEMDAS P-parenthesis,E- exponents, M-multiplication,D- division,A- addition, S-subtraction

In [37]:
50+3*2**3

74

In [36]:
50+(3*2)**3

266

In [6]:
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)
print(d)
print(e)

66
1024